<div class="mx-auto">
  <div class="grid grid-cols-12 relative">
    <div
      *ngIf="showSidebar"
      [@inOutAnimation]
      class="w-full md:w-6/12 lg:w-4/12 2xl:w-3/12 z-10 bg-slate-800 min-h-screen absolute"
    >
      <div class="flex justify-end">
        <span class="px-2 py-1" (click)="showSidebar = !showSidebar">
          <img
            class="hover:invert"
            src="assets/icons/close-svgrepo-com.svg"
            width="30"
            alt=""
          />
        </span>
      </div>
      <form
        #searchLocationWeatherForm="ngForm"
        (ngSubmit)="searchLocation(searchLocationWeatherForm.value)"
        autocomplete="off"
      >
        <div class="flex justify-center gap-4 py-4">
          <div class="w-8/12 relative">
            <img
              class="invert grayscale hover:invert-0 p-2 absolute"
              src="assets/icons/search-svgrepo-com.svg"
              width="37"
              alt=""
            />
            <input
              #searchInput
              class="py-1.5 w-full pl-10 bg-slate-800 border focus:border border-white outline-none text-white font-extralight capitalize"
              type="text"
              placeholder="search location"
              ngModel
              name="location"
              required
            />
          </div>
          <div class="">
            <button
              [disabled]="searchLocationWeatherForm.invalid"
              type="submit"
              class="bg-blue-900 border border-blue-900 py-1.5 px-4 hover:bg-slate-700 text-white font-light"
            >
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
    <div
      class="current_time bg-slate-800 col-span-12 lg:col-span-4 2xl:col-span-3 min-h-screen"
    >
      <div class="grid grid-cols-2 py-4">
        <div class="justify-self-start mx-5">
          <button
            (click)="openSidebar()"
            class="text-white text-sm hover:text-neutral-900 bg-gray-500 hover:bg-gray-100 p-2 rounded"
          >
            Search for places
          </button>
        </div>
        <div class="justify-self-end mx-5">
          <button
            (click)="getGeolocation()"
            class="text-white bg-gray-500 hover:bg-gray-100 cursor-pointer rounded-full"
          >
            <img
              class="invert grayscale hover:invert-0 p-2"
              src="assets/icons/compass-gps.svg"
              width="38"
              alt=""
            />
          </button>
        </div>
        <div class="col-span-2 justify-self-center py-10 md:py-24">
          <img src="{{ getIconWeather(forecastWeather) }}" alt="" />
        </div>
        <div class="col-span-2 justify-self-center">
          <p class="flex items-center">
            <strong
              class="text-7xl md:text-8xl text-white hover:text-gray-400"
              >{{ getTemperature(forecastWeather) }}</strong
            >
            <img
              class="invert grayscale"
              src="assets/icons/weather/{{
                isCelsius ? 'celsius' : 'fahrenheit'
              }}.svg"
              width="90"
              alt=""
            />
          </p>
        </div>
        <div class="col-span-2 justify-self-center py-10 md:py-20">
          <p class="text-gray-500 text-2xl font-bold">
            {{ forecastWeather?.current?.condition?.text }}
          </p>
        </div>
        <div class="col-span-2 justify-self-center py-10 md:py-20">
          <p class="text-gray-500 font-bold text-center">
            {{ formatDate(forecastWeather?.location?.localtime) }}
          </p>
          <p class="flex justify-center text-center py-2">
            <img
              class="invert grayscale"
              src="assets/icons/placeholder-gps-svgrepo-com.svg"
              width="25"
              alt=""
            />
            <span class="text-white py-8 text-center">{{
              forecastWeather?.location?.region
            }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="predictions_time col-span-12 lg:col-span-8 2xl:col-span-9">
      <div class="w-10/12 lg:w-9/12 mx-auto">
        <div class="flex justify-end gap-4 py-2 px-4 hidden lg:flex">
          <span
            (click)="changeTemperature(forecastWeather, 'temp_c')"
            class="rounded-full bg-white cursor-pointer"
            [ngClass]="{ 'bg-white': isCelsius, 'bg-violet-900': !isCelsius }"
          >
            <img
              [ngClass]="{ 'invert-0': isCelsius, invert: !isCelsius }"
              src="assets/icons/weather/celsius.svg"
              width="45"
              alt=""
            />
          </span>
          <span
            (click)="changeTemperature(forecastWeather, 'temp_f')"
            class="rounded-full cursor-pointer"
            [ngClass]="{ 'bg-violet-900': isCelsius, 'bg-white': !isCelsius }"
          >
            <img
              [ngClass]="{ 'invert-0': !isCelsius, invert: isCelsius }"
              src="assets/icons/weather/fahrenheit.svg"
              width="45"
              alt=""
            />
          </span>
        </div>
        <div class="highlights_stats bg-pink-300">Today's Highlights</div>
        <div class="highlights_stats bg-pink-300">Today's Highlights</div>
      </div>
    </div>
  </div>
</div>
