<div class="mx-auto">
  <div class="grid grid-cols-12 relative">
    <div
      *ngIf="showSidebar"
      [@inOutAnimation]
      class="w-full md:w-6/12 lg:w-4/12 2xl:w-3/12 z-10 bg-slate-800 min-h-screen absolute"
    >
      <div class="flex justify-end">
        <span class="px-2 py-1" (click)="showSidebar = !showSidebar">
          <img
            class="hover:invert"
            src="assets/icons/close-svgrepo-com.svg"
            width="30"
            alt=""
          />
        </span>
      </div>
      <form
        #searchLocationWeatherForm="ngForm"
        (ngSubmit)="searchLocation(searchLocationWeatherForm.value)"
        autocomplete="off"
      >
        <div class="flex justify-center gap-4 py-4">
          <div class="w-8/12 relative">
            <img
              class="invert grayscale hover:invert-0 p-2 absolute"
              src="assets/icons/search-svgrepo-com.svg"
              width="37"
              alt=""
            />
            <input
              #searchInput
              class="py-1.5 w-full pl-10 bg-slate-800 border focus:border border-white outline-none text-white font-extralight capitalize"
              type="text"
              placeholder="search location"
              ngModel
              name="location"
              required
            />
          </div>
          <div class="">
            <button
              [disabled]="searchLocationWeatherForm.invalid"
              type="submit"
              class="bg-blue-900 border border-blue-900 py-1.5 px-4 hover:bg-slate-700 text-white font-light"
            >
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
    <div
      class="current_time bg-slate-800 col-span-12 lg:col-span-4 2xl:col-span-3 min-h-screen"
    >
      <div class="grid grid-cols-2 py-4">
        <div class="justify-self-start mx-5">
          <button
            (click)="openSidebar()"
            class="text-white text-sm hover:text-neutral-900 bg-gray-500 hover:bg-gray-100 p-2 rounded"
          >
            Search for places
          </button>
        </div>
        <div class="justify-self-end mx-5">
          <button
            (click)="getGeolocation()"
            class="text-white bg-gray-500 hover:bg-gray-100 cursor-pointer rounded-full"
          >
            <img
              class="invert grayscale hover:invert-0 p-2"
              src="assets/icons/compass-gps.svg"
              width="38"
              alt=""
            />
          </button>
        </div>
        <div class="col-span-2 justify-self-center py-10 md:py-24">
          <img
            src="{{
              getIconWeather(forecastWeather?.current?.condition?.icon)
            }}"
            alt=""
          />
        </div>
        <div class="col-span-2 justify-self-center">
          <p class="flex items-center">
            <strong
              class="text-7xl md:text-8xl text-white hover:text-gray-400"
              >{{ getTemperature(forecastWeather?.current) }}</strong
            >
            <img
              class="invert grayscale"
              src="assets/icons/weather/{{
                isCelsius ? 'celsius' : 'fahrenheit'
              }}.svg"
              width="90"
              alt=""
            />
          </p>
        </div>
        <div class="col-span-2 justify-self-center py-10 md:py-20">
          <p class="text-gray-500 text-2xl font-bold">
            {{ forecastWeather?.current?.condition?.text }}
          </p>
        </div>
        <div class="col-span-2 justify-self-center py-10 md:py-20">
          <p class="text-gray-500 font-bold text-center">
            {{ formatDate(forecastWeather?.location?.localtime) }}
          </p>
          <p class="flex justify-center text-center py-2">
            <img
              class="invert grayscale"
              src="assets/icons/placeholder-gps-svgrepo-com.svg"
              width="25"
              alt=""
            />
            <span class="text-white py-8 text-center">{{
              forecastWeather?.location?.region
            }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="predictions_time col-span-12 lg:col-span-8 2xl:col-span-9">
      <div class="w-10/12 lg:w-11/12 mx-auto">
        <div class="flex justify-end gap-0 py-2 px-4">
          <span
            (click)="changeTemperature(forecastWeather, 'temp_c')"
            class="rounded-full bg-white cursor-pointer hidden lg:flex mx-1"
            [ngClass]="{ 'bg-white': isCelsius, 'bg-violet-900': !isCelsius }"
          >
            <img
              [ngClass]="{ 'invert-0': isCelsius, invert: !isCelsius }"
              src="assets/icons/weather/celsius.svg"
              width="45"
              alt=""
            />
          </span>
          <span
            (click)="changeTemperature(forecastWeather, 'temp_f')"
            class="rounded-full cursor-pointer hidden lg:flex mx-1"
            [ngClass]="{ 'bg-violet-900': isCelsius, 'bg-white': !isCelsius }"
          >
            <img
              [ngClass]="{ 'invert-0': !isCelsius, invert: isCelsius }"
              src="assets/icons/weather/fahrenheit.svg"
              width="45"
              alt=""
            />
          </span>
        </div>
        <div class="highlights_stats">
          <div class="flex flex-wrap justify-start items-center">
            <ng-container
              *ngFor="let item of forecastWeather?.forecast?.forecastday"
            >
              <div class="w-2/4 sm:w-3/12 md:w-3/12 lg:w-1/5 p-2">
                <div class="card rounded p-2 bg-slate-800 text-center">
                  <strong class="text-white">
                    {{ formatDate(item?.date, { weekday: "short" }) }}
                  </strong>
                  <img
                    class="mx-auto"
                    src="{{ getIconWeather(item?.day?.condition?.icon) }}"
                    alt=""
                  />
                  <strong class="text-white px-1">
                    {{ getTemperature(item.day, "max") }}
                    <img
                      class="invert grayscale inline-block py-5 -m-3"
                      src="assets/icons/weather/{{
                        isCelsius ? 'celsius' : 'fahrenheit'
                      }}.svg"
                      width="30"
                      alt=""
                    />
                  </strong>

                  <span class="text-white text-xs px-1">
                    {{ getTemperature(item.day, "min") }}
                    <img
                      class="invert grayscale inline-block p-0 -m-3"
                      src="assets/icons/weather/{{
                        isCelsius ? 'celsius' : 'fahrenheit'
                      }}.svg"
                      width="30"
                      alt=""
                    />
                  </span>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="flex flex-wrap justify-center items-center">
            <p
              class="text-2xl font-bold text-white text-start px-2 py-6 w-full"
            >
              Today's highlights
            </p>
            <ng-container>
              <div class="w-full sm:w-2/4 p-2">
                <div class="card rounded px-2 py-10 bg-slate-800 text-white">
                  <p class="text-center">Wind status</p>
                  <p class="text-center text-6xl">
                    {{ forecastWeather?.current?.wind_kph }}
                    <span class="text-lg">km/h</span>
                  </p>
                  <img
                    class="mx-auto"
                    src="assets/icons/weather/wind.svg"
                    width="40"
                    alt=""
                  />
                </div>
              </div>
              <div class="w-full sm:w-2/4 p-2">
                <div class="card rounded px-2 py-10 bg-slate-800 text-white">
                  <p class="text-center">Humidity</p>
                  <p class="text-center text-6xl">
                    {{ forecastWeather?.current?.humidity }}
                    <span class="text-lg">%</span>
                  </p>
                  <div class="humidity-container w-3/4 mx-auto">
                    <div class="flex justify-between">
                      <span
                        class="text-base font-medium text-blue-700 dark:text-white"
                        >0%</span
                      >
                      <span
                        class="text-sm font-medium text-blue-700 dark:text-white"
                        >100%</span
                      >
                    </div>
                    <div
                      class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700"
                    >
                      <div
                        class="bg-blue-600 h-2.5 rounded-full"
                        attr.style="width: {{ forecastWeather?.current?.humidity }}%"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full sm:w-2/4 p-2">
                <div class="card rounded px-2 py-10 bg-slate-800 text-white">
                  <p class="text-center">Visibility</p>
                  <p class="text-center text-6xl">
                    {{ forecastWeather?.current?.vis_km }}
                    <span class="text-lg">km/h</span>
                  </p>
                </div>
              </div>
              <div class="w-full sm:w-2/4 p-2">
                <div class="card rounded px-2 py-10 bg-slate-800 text-white">
                  <p class="text-center">Air presure</p>
                  <p class="text-center text-6xl">
                    {{ forecastWeather?.current?.pressure_mb }}
                    <span class="text-lg">mb</span>
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
