<div class="mx-auto">
  <div class="grid grid-cols-12">
    <div
      class="current_time bg-slate-800 col-span-12 lg:col-span-4 2xl:col-span-3 min-h-screen"
    >
      <div class="grid grid-cols-2 py-4">
        <div class="justify-self-start mx-5">
          <button
            class="text-white hover:text-neutral-900 bg-gray-500 hover:bg-gray-100 p-2 rounded"
          >
            Search for places
          </button>
        </div>
        <div class="justify-self-end mx-5">
          <button
          (click)="getGeolocation()"
            class="text-white bg-gray-500 hover:bg-gray-100 cursor-pointer rounded-full"
          >
            <img
              class="invert grayscale hover:invert-0 p-2"
              src="assets/icons/compass-gps.svg"
              width="40"
              alt=""
            />
          </button>
        </div>
        <div class="col-span-2 justify-self-center py-10 md:py-24">
          <img src="{{ getIconWeather(forecastWeather) }}" alt="" />
        </div>
        <div class="col-span-2 justify-self-center">
          <p class="flex items-center">
            <strong class="text-7xl md:text-8xl text-white hover:text-gray-400">{{
              forecastWeather?.current?.temp_c
            }}</strong>
            <img
              class="invert grayscale"
              src="assets/icons/weather/celsius.svg"
              width="90"
              alt=""
            />
          </p>
        </div>
        <div class="col-span-2 justify-self-center py-10 md:py-20">
          <p class="text-gray-500 text-2xl font-bold">
            {{ forecastWeather?.current?.condition?.text }}
          </p>
        </div>
        <div class="col-span-2 justify-self-center py-10 md:py-20">
          <p class="text-gray-500 font-bold">
            {{ formatDate(forecastWeather?.location?.localtime) }}
          </p>
          <p class="flex items-center py-2">
            <img
              class="invert grayscale"
              src="assets/icons/placeholder-gps-svgrepo-com.svg"
              width="25"
              alt=""
            />
            <span class="text-white py-8">{{
              forecastWeather?.location?.region
            }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="predictions_time col-span-12 lg:col-span-8 2xl:col-span-9">
      <div class="highlights_stats bg-pink-300">Today's Highlights</div>
      <div class="highlights_stats bg-pink-300">Today's Highlights</div>
    </div>
  </div>
</div>
