/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

body {
    font-family: 'Open Sans', sans-serif !important;
font-family: 'Raleway', sans-serif !important;
}

@keyframes spinHorizontal {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.current_time {
    height: 100% !important;
    overflow: auto;
    position: relative;
    // z-index: -2;
    background: #1F213B !important;
    div {
        position: relative;
    }

}

.current_time::before {
    content: "";
    position: absolute;
    background-image: url('./assets//icons/background/Cloud-background.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    // z-index: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(13%) sepia(18%) saturate(1410%) hue-rotate(193deg) brightness(98%) contrast(89%);
}


@media screen and (max-width: 768px) {
    .current_time {
        height: 100vh !important;
    }
}